
body{
    background-image: url(imagens/fundo.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
    
    }
   
    header{
        background: cornsilk;
        color: #fff;
        text-align: center; 

    }

    .logotipo {
        display: flex;
        margin: 0 auto;
        width: 100%; 
        margin-left: 80px;
    }
    
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 20px;
    }
    .icon{
        width: 60px;
        height: 60px;
        margin-right: 10px;
        box-shadow: 5px 5px 0px rgb(0, 0, 0);
        border-radius: 15px;
        background-color: rgb(92, 91, 89);
    }
    .container-dos-pratos{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: 20px;
        align-items: center;
        margin-left: 0px;
        margin-top: 20px;
    }
    .caixa-prato1{
    width:400px;
    height: 600px;
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 5px 5px 0px rgb(66, 65, 65);
    border-radius: 15px;
    }
    .caixa-prato1:hover{
    transition: 400ms;
    cursor: pointer;
    transform:scale(0.9);
    }
    a{
        text-decoration: none;
        color: black;
    } 
    
    .legenda-cuscuz{
        margin-right: 10px;
        border-radius: 15px;
        position: absolute;
        margin-bottom: 0px;
        margin-top: 100px;
    }
    .valor-cuscuz{
        color: rgb(255, 255, 255);
        margin-top: 250px;
        background-color: rgb(0, 0, 0);
        border-radius: 15px;
        width: 200px;
        text-align: center;    
    }
    .valor-cuscuz:hover{
        transition: 200ms;
        color: rgb(0, 0, 0);
        background: rgb(240,240,240);
        box-shadow: 0px 5px 20px rgb(31,31,31);
    }
    
    .caixa-prato2{
    width: 400px;
    height: 600px;
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 5px 5px 0px rgb(66, 65, 65);
    border-radius: 15px;
    margin-right: 10px;
    }
    .legenda-suco{
        margin-right: 10px;
        border-radius: 15px;
        position: absolute;
        margin-bottom: 0px;
        margin-top: 100px;
    }
    .valor-suco{
        color: rgb(255, 255, 255);
        margin-top: 250px;
        background-color: rgb(0, 0, 0);
        border-radius: 15px;
        width: 200px;
        text-align: center;
    }
    .valor-suco:hover{
        transition: 200ms;
        color: rgb(0, 0, 0);
        background: rgb(240,240,240);
        box-shadow: 0px 5px 20px rgb(31,31,31);
    }

    .caixa-prato2:hover{
        transition: 400ms;
        cursor: pointer;
        transform:scale(0.9);
    }
    .caixa-prato3{
    width: 400px;
    height: 600px;
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 5px 5px 0px rgb(66, 65, 65);
    border-radius: 15px;
    }
    .caixa-prato3:hover{
        transition: 400ms;
        cursor: pointer;
        transform:scale(0.9);
        text-decoration: none;
    }
    .legenda-pudim{
        margin-right: 10px;
        border-radius: 15px;
        position: absolute;
        margin-bottom: 0px;
        margin-top: 100px;
    }
    .valor-pudim{
        color: rgb(255, 255, 255);
        margin-top: 250px;
        background-color: rgb(0, 0, 0);
        border-radius: 15px;
        width: 200px;
        text-align: center;
    }
    .valor-pudim:hover{
        transition: 200ms;
        color: rgb(0, 0, 0);
        background: rgb(240,240,240);
        box-shadow: 0px 5px 20px rgb(31,31,31);
    }

    .cuscuz{
        width: 350px;
        height: 300px;
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 15px;
        position: absolute;
        top: 20px;
        user-select: none;
    }
    .suco{
        width: 350px;
        height: 300px;
        margin-right: 0px;
        border-radius: 15px;
        position: absolute;
        top: 20px;
        user-select: none;
    }
    .pudim{
        width: 350px;
        height: 300px;
        margin-right: 0px;
        border-radius: 15px;
        position: absolute;
        top: 20px;
        user-select: none;
    
    }
    .container-cuscuz{
        width: 400px;
        height: 600px;
        background-color: cornsilk;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        box-shadow: 5px 5px 0px rgb(66, 65, 65);
        border-radius: 15px;
        position: relative;
    }
    .container-suco{
        width: 400px;
        height: 600px;
        background-color: cornsilk;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        box-shadow: 5px 5px 0px rgb(66, 65, 65);
        border-radius: 15px;
        position: relative;
    }
    .container-pudim{
        width: 400px;
        height: 600px;
        background-color: cornsilk;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        box-shadow: 5px 5px 0px rgb(66, 65, 65);
        border-radius: 15px;
        position: relative;
    }
    footer{
        color: rgb(0, 0, 0);
        text-align: center;
    }
    .caixa-rodape{
    width: 600px;
    height: 40px;
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 5px 5px 0px rgb(66, 65, 65);
    border-radius: 15px;
    }

    ::selection{
    background-color: black;
    color: rgb(255, 255, 255);
    }
    